.container
{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: aqua;
}

.navigation-bar
{
    background-color: #444444;
    height: 8%;
    align-items: center;
    justify-content: right;
    display: flex;
    grid-gap: 14px;
    padding: 10px;
}

.main
{
    border-top: 3px solid #F8FABB;
    border-bottom: 3px solid #F8FABB;
    background-color: #444444;
    height: 84%;
    display: flex;
}

.bottom
{
    background-color: #444444;
    height: 8%;
}

.logo
{
    margin: auto;
}

.competitions
{
    padding-left: 5%;
    padding-right: 5%;
    width: max(25%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.competitions button
{
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 100%;

    cursor: pointer;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 24px;
    font-size: 22px;
    color: #F8FABB;
    border: 2px solid #F8FABB;
    border-radius: 60px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.competitions button::before
{
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F8FABB;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.competitions button:hover::before
{
    scale: 6;
}
  
.competitions button:hover
{
    color: #444444;
    scale: 1.1;
    box-shadow: 0 0px 20px #F8FABB;
}
  
.competitions button:active
{
    scale: 1;
}

.flag
{
    border: 2px solid #F8FABB;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-logo-container
{
    width : 100%;
    background-image: url("assets\\cnp-predictions-logo\\png\\logo-no-background.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

@media screen and (max-width: 700px) {
    .logo
    {
      width: 0px;
    }
    .small-logo-container
    {
        height: 17%;
    }
    .competitions
    {
        width: 100%;
    }
}

@media (pointer:none), (pointer:coarse) 
{
    .logo
    {
        width: 0px;
    }
    .small-logo-container
    {
        width: min(100%, 700px);
        height: 17%;
    }
    .competitions
    {
        width: 100%;
    }
}



.navigation-bar button
{
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 100%;

    cursor: pointer;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 22px;
    color: #00d1cd;
    border: 2px solid #00d1cd;
    border-radius: 60px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.navigation-bar button::before
{
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #00d1cd;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.navigation-bar button:hover::before
{
    scale: 6;
}
  
.navigation-bar button:hover
{
    color: #444444;
    scale: 1.1;
    box-shadow: 0 0px 20px #00d1cd;
}
  
.navigation-bar button:active
{
    scale: 1;
}