.spinner {

    animation: spin 1s linear infinite;

    width: 30px;
    height: 30px;

    position: relative;
    top: 50%;

    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #00D1CD;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.8);
    }
}