.main-comp {
    border-top: 3px solid #F8FABB;
    border-bottom: 3px solid #F8FABB;
    background-color: #444444;
    height: 84%;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.spieltag {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.info {
    position: relative;
    display: flex;
    align-items: center;
    height: 15px;
    padding-top: 15px;
    border-top: 1px solid #F8FABB;
    border-radius: 25px;
}

.info-button {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border: none;
    cursor: pointer;
}

.info-content {
    position: absolute;
    left: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 12px;
}

.info-button:hover~.info-content {
    visibility: visible;
    opacity: 1;
}

.row {
    margin-bottom: 75px;
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: 1px solid #F8FABB;;
    border-radius: 25px;
}

.th,
.result,
.prediction-button,
.ta {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table;
}

.th p,
.result p,
.prediction-button p,
.ta p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.th {
    width: 100%;
}

.result {
    white-space: nowrap;
    width: 50%;
}

.ta {
    width: 100%;
}

.prediction-button{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.predict-icon {
    display: flex;
    width: 55px;
    height: 55px;
}

#all-games {
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.trikot {
    padding-bottom: 20px;
    padding-top: 20px;
}

#all-games::-webkit-scrollbar {
    display: none;
}

/*pc*/
@media screen and (max-width: 700px) and (any-pointer:fine) {}

/*phone*/
@media (any-pointer:none),
(any-pointer:coarse) {
    #all-games {
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        height: 100%;

        overflow-y: auto;
        overflow-x: hidden;
    }

    .trikot {
        width: 51.2px;
        height: 38px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 5px;
    }

    .row {
        margin: 5px;
        margin-bottom: 50px;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }

    .info-button:active~.info-content {
        visibility: visible;
        opacity: 1;
    }

    .predict-icon {
        width: 40px;
        height: 40px;
    }
}