.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: aqua;
}

.navigation-bar
{
    background-color: #444444;
    height: 8%;
    align-items: center;
    justify-content: right;
    display: flex;
    grid-gap: 14px;
    padding: 10px;
}

.main
{
    border-top: 3px solid #F8FABB;
    border-bottom: 3px solid #F8FABB;
    background-color: #444444;
    height: 84%;
    display: flex;
}

.bottom {
    display: flex;
    background-color: #444444;
    height: 8%;
}

.logo
{
    margin: auto;
}

.competitions
{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    width: max(25%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.flag
{
    border: 2px solid #F8FABB;
    border-radius: 50%;
    margin-right: 20px;
    height: 90%;
}

#small-logo-container
{
    width : 100%;
    background-image: url("..\\assets\\cnp-predictions-logo\\png\\logo-no-background.png");

    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    visibility: hidden;
}

.text-container::-webkit-scrollbar 
{
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.text-container 
{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "Lucida Sans Unicode", Times, serif;
    font-size: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 0px 40px;
    
    font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
.link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
.link::before,
.link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #00d1cd;
	transform: scaleX(0);
	transition: transform 0.25s;
}
.link::before {
	top: -3px;
	transform-origin: left;
}
.link::after {
	bottom: -3px;
	transform-origin: right;
}
.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
	transform: scaleX(1);
}


.beige-button
{
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: min(75px, 17%);
    margin-bottom: 3px;

    cursor: pointer;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 24px;
    font-size: 22px;
    color: #F8FABB;
    border: 2px solid #F8FABB;
    border-radius: 60px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.beige-button::before
{
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F8FABB;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.beige-button:hover::before
{
    scale: 6;
}
  
.beige-button:hover
{
    color: #444444;
    scale: 1.1;
    box-shadow: 0 0px 20px #F8FABB;
}
  
.beige-button:active
{
    scale: 1;
}

/*pc*/
@media screen and (max-width: 700px) and (any-pointer:fine) {
    .logo
    {
        width: 0px;
    }
    #small-logo-container
    {
        margin-top: 10px;
        height: 120px;
        visibility: visible;
    }
    .competitions, .contact
    {
        width: 100%;
    }
}

/*phone*/
@media (any-pointer:none), (any-pointer:coarse)
{
    .nav-list
    {
        font-size: 14px;
    }
    .logo
    {
        width: 0px;
    }
    #small-logo-container
    {
        margin-top: 10px;
        height: max(17%, 200px);
        width: min(100%, 700px);
        visibility: visible;
    }
    .competitions, .contact
    {
        width: 100%;
    }
    .text-container
    {
        font-size: 12px;
    }
}